@model Vidly_App.ViewModel.RandomMovieViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var customer in Model.Customer)
{
<li class="mt-5">
    @*@Html.ActionLink(customer.Name, "Details", "Customers", new
        {
            id = customer.Id
        }, null);*@
    <a asp-controller="Customer"
       asp-action="Details"
       asp-route-id= "@customer.Id">@customer.Name</a>
</li>
}